<!DOCTYPE html>
{#<html lang="en">#}
<head>
    {#    <meta charset="utf-8"/>#}
    {#    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>#}
    <title>Roman Shkromyda. CS50's Web Programming with Python and JavaScript. Project2. </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {#    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,900" rel="stylesheet" type="text/css"/>#}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    {#    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>#}
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.min.js"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <script id="channel_list_item" type="text/x-handlebars-template">
        {% raw %}{{#each channels}}
        <li class="rounded-right  channel" data-chname="{{ this }}">
            <span># {{ this }}</span>
        </li>
        {{/each}}{% endraw %}
    </script>
    <script id="users_list_item" type="text/x-handlebars-template">
        {% raw %}{{#each users}}
        <li class="channel">
            <span>{{ this.username }}</span>
        </li>
        {{/each}}{% endraw %}
    </script>
    <script id="messages_list_item" type="text/x-handlebars-template">
        {% raw %}{{#each messages}}
        <div class="message">
            <hr>
            <img class="profile-pic" src="{{ this.pic_url }}" alt="{{ this.user }} avatar">
            <span class="message_username">{{ this.user }}</span>
            <span class="message_timestamp">{{ this.time }}</span>
            {{{del_button this.user}}}
            <span class="message_content">{{ this.text }}</span>
        </div>
        {{/each}}{% endraw %}
    </script>

</head>
<body>
<div class="form-popup justify-content-md-center" id="loginForm">
    <div class="form-container form-horizontal">
        <form>
            <div class="form-group row">
                <div class="col">
                    <input type="text" name="username" class="form-control-lg mb-2 mx-1" placeholder="Enter Your name" required>
                    <button type="submit" class="btn btn-primary btn-lg mb-2">Login</button>
                </div>
            </div>
            <fieldset>
                <div class="form-group row">
                    <div class="col-4"></div>
                    <div class="form-check col-2">
                        <input type="radio" class="form-check-input" name="gender" value="male" checked>
                        <img src="{{ url_for('static', filename='img/avatar_m.png') }}" height="32px" width="32px">
                    </div>
                    <div class="form-check col-2">
                        <input type="radio" class="form-check-input" name="gender" value="female">
                        <img src="{{ url_for('static', filename='img/avatar_f.png') }}" width="32px">
                    </div>
                    <div class="col-4"></div>
                </div>
            </fieldset>
        </form>
    </div>
</div>
<div class="container-fluid h-100 d-flex flex-column">
    <div class="header row">
        <div class="dark col-md-4 col-6 rounded-right">project2-Flack</div>
        <div class="channel-menu col-md-8 col-6">
        <span class="channel-menu_name">
            admin
        </span>
        </div>
    </div>
    <div class="main row h-100">
        <div class="col_left col-md-4 col-6 rounded-right">
            <div class="listings_channels">
                <h2 class="listings_header">Channels</h2>
                <form class="form-inline form-row mb-2" id="new_channel">
                    <div class="form-group">
                        <input type="text" class="form-control mx-1" placeholder="New channel" required>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Add</button>
                    </div>
                </form>
                <ul class="channel_list list-group" id="channels_list">

                </ul>
            </div>
            <div class="listings_users">
                <h2 class="listings_header">Channel users</h2>
                <ul class="channel_list" id="users_list">

                </ul>
            </div>
        </div>
        <div class="col-md-8 col-6" id="messages">
            No message yet. Select channel.
        </div>
    </div>

    <div class="row footer">
        <div class="col-md-4 col-6 rounded-right" id="user_menu">
            <span class="profile-pic"></span>
            <span class="footer_username">Username</span>
            <br>
            <span class="connection_status">online</span>
        </div>
        <div class="col-md-8 col-6">
            <input class="input-box_text" type="text"/>
        </div>
    </div>
</div>
<audio controls id="message_sound">
    <source src="{{ url_for('static', filename='chat_alertshort.mp3') }}" type="audio/ogg">
    Your browser does not support the audio element.
</audio>
</body>
</html>
